.git
*.aac
characters/README.md
characters/all_voicelines.html
characters/character-redirect-template.html
characters/character-template.html
characters/generate-character-pages.js
characters/urls.json
CGs/generate-chapter-pages.js
CGs/chapter-template.html
CGs/chapter-redirect-template.html
CGs/update-github-urls.js